<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Bookmarks service", root_path, class: "navbar-brand"%>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Bookmarks", bookmarks_path, class: "nav-link"%>
      </li>
    </ul>
  </div>

  <form class="form-inline d-flex" action= <%= bookmarks_path %> >
    <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>