
<div class="d-flex align-items-center justify-content-center" style="height: 350px">
    <h1>Welcome to the bookmarks manager!</h1>
</div>
<div class="col-xs-1" align="center">
    <%= link_to "Create new bookmark", new_bookmark_path, class: "btn btn-primary" %>
</div>